*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.container{
  max-width: 80%;
  margin: 0 auto;
}

header > .container {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.titolo{
  flex-grow: 1;
}

.cars{
  width: 200px;
}

.play {
  width: 100px;
}

/* main */
main {
  background-color: #7fffd4;
}

.container-grid {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid{
  border: 1px solid black;
  width: 400px;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.cel{
  border: 1px solid black;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}





